<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding center text-center> 

 <ion-list>

<ion-item>
<ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
</ion-item>

<ion-item>
  <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item>
<ion-label>Disbled Checkbox</ion-label>
<ion-checkbox disbled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
<ion-label>Checked Checkbox</ion-label>
<ion-checkbox checked="true"></ion-checkbox>

  </ion-item>



<ion-item *ngFor="let ingredient of ingredients">
<ion-label>{{ingredient.name}}</ion-label>
<ion-checkbox slot="end" color="primary" [(ngModel)]="ingredient.isChecked"></ion-checkbox>

</ion-item>

<ion-item>


  
</ion-item>




     </ion-list>


     <button ion-button full (click)="login()">Log in</button>
     <button ion-button full color="light" (click)="goRegister()">Register</button>

</ion-content>
