<ion-header>
    <ion-navbar>
      <ion-title>
        Image Gallery
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
      <!-- <!-- <!-- <ion-list>
          <ion-list-header>
            Characters
          </ion-list-header> -->
        
          <!-- <ion-item>
            <ion-label>Jon Snow</ion-label>
            <ion-checkbox checked="true"></ion-checkbox>
          </ion-item>
      
          <ion-item>
            <ion-label>Daenerys Targaryen</ion-label>
            <ion-checkbox color="dark" checked="true"></ion-checkbox>
          </ion-item>
      
          <ion-item>
            <ion-label>Arya Stark</ion-label>
            <ion-checkbox value="cherry" disabled="true"></ion-checkbox>
          </ion-item>
      
          <ion-item>
            <ion-label>Tyrion Lannister</ion-label>
            <ion-checkbox color="secondary"></ion-checkbox>
          </ion-item>
      
          <ion-item>
            <ion-label>Sansa Stark</ion-label>
            <ion-checkbox color="danger" checked="true"></ion-checkbox>
          </ion-item>
      
          <ion-item>
            <ion-label>Khal Drogo</ion-label>
            <ion-checkbox></ion-checkbox>
          </ion-item>
      
          <ion-item>
            <ion-label>Cersei Lannister</ion-label>
            <ion-checkbox color="energized" checked="true" color="dark"></ion-checkbox>
          </ion-item>
      
          <ion-item>
            <ion-label>Stannis Baratheon</ion-label>
            <ion-checkbox color="royal" checked="true"></ion-checkbox>
          </ion-item>
      
          <ion-item>
            <ion-label>Petyr Baelish</ion-label>
            <ion-checkbox disabled="true"></ion-checkbox>
          </ion-item>
      
          <ion-item>
            <ion-label>Hodor</ion-label>
            <ion-checkbox color="dark" checked="true"></ion-checkbox>
          </ion-item>
      
          <ion-item>
            <ion-label>Catelyn Stark</ion-label>
            <ion-checkbox color="secondary" checked="true"></ion-checkbox>
          </ion-item>
      
          <ion-item>
            <ion-label>Bronn</ion-label>
            <ion-checkbox color="royal"></ion-checkbox>
          </ion-item>
        </ion-list>  --> 
  <div style="background-color:black; height:200%">
    
     <div class="name" style="font-family: 'HurmeGeometricSans_No1_5_Semibold';font-size:16px;color:dodgerblue"> <button ion-button (click)="ShowFolders()">back</button></div>
   
    <div>
  
      <ion-row>
  
        <ion-col style="width:100%" >
  
       <div style="margin-top:20px;">
         <img src="{{clickedImagePath}}" style="height: 70px;width:70px;border-radius: 50%;" (click)=" clickImage()"  > 
         <ion-icon name="camera" style="color:black;margin-left: -25px;" (click)=" clickImage()" ></ion-icon>
         </div>
      
      </ion-col>
  
  <ion-col  style="width:100%" >
  <img class="logo" src="assets/imgs/images (1).png"  (click)=" getlistdirectory()">
  </ion-col>
  
  
  <ion-col  style="width:100%">
  <img class="logo1" src="assets/imgs/download (1).png"  (click)=" Newcreatefolder()">
  
  </ion-col>
  
  </ion-row>
  
  
  </div>
  
  
    <div class="val1"  *ngFor="let x of direArry" >
       
      <ion-row >
   <ion-col col-6   style="width:100%"  *ngIf="x.isFile==true">
               
             
                  <img  src="{{x.nativeURL}}"/>
                </ion-col>
              
          </ion-row>
          </div>
  
  
          <div class="val2"  *ngFor="let x of direArry" >
              
             <ion-row >
        
                <ion-col col-3   style="width:100%"  *ngIf="x.isDirectory==true">
                    
                  
                       <img class="file"      src="assets/imgs/images (1).png"   (click)="getsubfolders(x.name,x.fullPath);"/>

                       <div class="name" style="font-family: 'HurmeGeometricSans_No1_5_Semibold';font-size:14px; margin-top:-20px;color:dodgerblue">{{x.name}}</div>
                     </ion-col>
                     
                 </ion-row>
                 </div>
         
  
                 
    </div>
  
  <!-- <div>
  <button ion-button (click)="nextpage()">nextpage</button>
  
  </div>  -->
  
  
  </ion-content>
  